/* mw-popover*/
.mw-popover-backdrop {
	position: fixed;
	z-index: 1999;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.5);
}
.mw-popover-container {
	position: relative;
	z-index: 2000;
	top: 10%;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
	text-align: center;
	width: 40em;
	min-width: 350px;
	max-width: 100%;
	height: 8em;
}
 mw-popover

.mw-shadow {
	-webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
	box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
}

.mw-popover-container .card-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.mw-popover-container .card-header > span.fas {
	cursor: pointer;
	font-size: 1.1em;
}
